.loading 
	.bg 
		img(src="images/loadingBg.png", width="100%")
		.clock 
			img(src="images/clock.png", width="100%")
			img.hour(src="images/hourHand.png")
			img.minute(src="images/minuteHand.png")
		img.pd(src="images/loadingPd.png")