meta(http-equiv='content-type' content='text/html; charset=utf-8')
meta(http-equiv='X-UA-Compatible' content='IE=edge;IE=11;IE=10;IE=9;IE=8')
meta(name='viewport' content='width=device-width,initial-scale=1.0,maximum-scale=1.0')
meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
meta(name="format-detection" content="telephone=no")

title ほろよい微醉 我的晚酌時光
meta(name="keywords" content="台灣三得利, Beam Suntory,田馥甄Hebe,ほろよい,微醉,喝了搖曳,舒服的醉,小酌,放鬆,白色沙瓦,紅茶沙瓦,葡萄沙瓦,白桃,今天的ほろよい,ほろよい好滋味,和ほろよい做朋友")
meta(name="description" content="台灣三得利, Beam Suntory,田馥甄Hebe,ほろよい,微醉,喝了搖曳,舒服的醉,小酌,放鬆,白色沙瓦,紅茶沙瓦,葡萄沙瓦,白桃,今天的ほろよい,ほろよい好滋味,和ほろよい做朋友")
meta(property="og:url" content="http://www.suntory.com.tw/alcohol/horoyoi/")
meta(property="og:type" content="website")
meta(property="og:site_name" content="台灣三得利 ほろよい微醉 我的晚酌時光")
meta(property="og:title" content="台灣三得利 ほろよい微醉 我的晚酌時光")
meta(property="og:locale" content="zh_tw")
meta(property="og:locale:alternate" content="zh_tw")
meta(property="og:description" content="台灣三得利, Beam Suntory,田馥甄Hebe,ほろよい,微醉,喝了搖曳,舒服的醉,小酌,放鬆,白色沙瓦,紅茶沙瓦,葡萄沙瓦,白桃,今天的ほろよい,ほろよい好滋味,和ほろよい做朋友")
meta(property="og:image" content="http://www.suntory.com.tw/alcohol/horoyoi/images/favicon.ico")
meta(property="og:image:type" content="image/jpeg")
meta(property="og:image:width" content="200")
meta(property="og:image:height" content="200")
meta(name="geo.region" content="tw")
meta(name="robots" content="all")
meta(name="robots" content="index, follow")
meta(name="rating" content="general")
meta(name="copyright" content="台灣三得利")
meta(name="author" content="OBiz Inc. 歐比斯設計整合行銷")

link(href="images/favicon.ico" rel="shortcut icon")
link(href="images/apple-touch-icon-144-precomposed.jpg" rel="apple-touch-icon-precomposed" sizes="144x144")
link(href="images/apple-touch-icon-114-precomposed.jpg" rel="apple-touch-icon-precomposed" sizes="114x114")
link(href="images/apple-touch-icon-72-precomposed.jpg" rel="apple-touch-icon-precomposed" sizes="72x72")
link(href="images/apple-touch-icon-57-precomposed.jpg" rel="apple-touch-icon-precomposed")

link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap' crossorigin='anonymous')
link(rel='stylesheet' href='/alcohol/sxc-embed/css/sxc.css')
link(rel='stylesheet' href='https://unpkg.com/swiper/css/swiper.min.css')
link(type='text/css' rel='stylesheet' href='css/style.css')

script(src='https://code.jquery.com/jquery-1.12.4.js')
script(src='/alcohol/sxc-embed/js/sxc-main.js')
script(src='js/swiper.min.js')
script(src='js/all.js')