<!DOCTYPE html>
html(lang="en")
	head
		<!-- #include file="include/webInfo.asp" -->
	body
		#container
			section.section3 
				img.bg(src="images/section3Bg.jpg", width="100%")
				.cabinet 
					img(src="images/cabinet.png", width="100%")
					.pd.pd1 
						img(src="images/pd1.png", alt="白色沙瓦" width="100%")
						.tag 白色沙瓦
					.pd.pd2
						img(src="images/pd2.png", alt="白桃", width="100%")
						.tag 白桃
					.pd.pd3 
						img(src="images/pd3.png", alt="白葡萄", width="100%")
						.tag 白葡萄
					.pd.pd4 
						img(src="images/pd4.png", alt="葡萄沙瓦", width="100%")
						.tag 葡萄沙瓦
					.pd.pd5 
						img(src="images/pd5.png", alt="紅茶沙瓦", width="100%")
						.tag 紅茶沙瓦
					.pd.pd6 
						img(src="images/pd6.png", alt="蜂蜜檸檬", width="100%")
						.tag 蜂蜜檸檬
				.pop 
					a.close
					.content 
						.swiper-container
							.swiper-wrapper
								.swiper-slide
									.pic 
										img(src="images/pd1B.png", alt="葡萄沙瓦", width="100%")
									.pdInfo 
										h3 白色沙瓦 
										img.line(src="images/pdLine.png")
										p.txt 葡萄果香豐富十足，濃郁迷人，適合舒緩情緒，飲用清爽暢快，深受年輕人歡迎的葡萄蘇打口味。
										.etc 
											.capacity 
												span 容量：
												|350ml
											.price 
												span 建議售價：
												b 47 
												|元
										.path 
											span 銷售通路： 
											p 7-ELEVEn、全家、萊爾富、家樂福、大潤發、愛買、全聯、頂好、Jasons、楓康、City’super、寶雅、日藥本鋪
										a.link(href="#") 營養成分標示
								.swiper-slide
									.pic 
										img(src="images/pd2B.png", alt="葡萄沙瓦", width="100%")
									.pdInfo 
										h3 白桃
										img.line(src="images/pdLine.png")
										p.txt 葡萄果香豐富十足，濃郁迷人，適合舒緩情緒，飲用清爽暢快，深受年輕人歡迎的葡萄蘇打口味。
										.etc 
											.capacity 
												span 容量：
												|350ml
											.price 
												span 建議售價：
												b 47 
												|元
										.path 
											span 銷售通路： 
											p 7-ELEVEn、全家、萊爾富、家樂福、大潤發、愛買、全聯、頂好、Jasons、楓康、City’super、寶雅、日藥本鋪
										a.link(href="#") 營養成分標示
								.swiper-slide
									.pic 
										img(src="images/pd3B.png", alt="葡萄沙瓦", width="100%")
									.pdInfo 
										h3 白葡萄
										img.line(src="images/pdLine.png")
										p.txt 葡萄果香豐富十足，濃郁迷人，適合舒緩情緒，飲用清爽暢快，深受年輕人歡迎的葡萄蘇打口味。
										.etc 
											.capacity 
												span 容量：
												|350ml
											.price 
												span 建議售價：
												b 47 
												|元
										.path 
											span 銷售通路： 
											p 7-ELEVEn、全家、萊爾富、家樂福、大潤發、愛買、全聯、頂好、Jasons、楓康、City’super、寶雅、日藥本鋪
										a.link(href="#") 營養成分標示
								.swiper-slide
									.pic 
										img(src="images/pd4B.png", alt="葡萄沙瓦", width="100%")
									.pdInfo 
										h3 葡萄沙瓦 
										img.line(src="images/pdLine.png")
										p.txt 葡萄果香豐富十足，濃郁迷人，適合舒緩情緒，飲用清爽暢快，深受年輕人歡迎的葡萄蘇打口味。
										.etc 
											.capacity 
												span 容量：
												|350ml
											.price 
												span 建議售價：
												b 47 
												|元
										.path 
											span 銷售通路： 
											p 7-ELEVEn、全家、萊爾富、家樂福、大潤發、愛買、全聯、頂好、Jasons、楓康、City’super、寶雅、日藥本鋪
										a.link(href="#") 營養成分標示
								.swiper-slide
									.pic 
										img(src="images/pd5B.png", alt="葡萄沙瓦", width="100%")
									.pdInfo 
										h3 紅茶沙瓦
										img.line(src="images/pdLine.png")
										p.txt 葡萄果香豐富十足，濃郁迷人，適合舒緩情緒，飲用清爽暢快，深受年輕人歡迎的葡萄蘇打口味。
										.etc 
											.capacity 
												span 容量：
												|350ml
											.price 
												span 建議售價：
												b 47 
												|元
										.path 
											span 銷售通路： 
											p 7-ELEVEn、全家、萊爾富、家樂福、大潤發、愛買、全聯、頂好、Jasons、楓康、City’super、寶雅、日藥本鋪
										a.link(href="#") 營養成分標示
								.swiper-slide
									.pic 
										img(src="images/pd6B.png", alt="葡萄沙瓦", width="100%")
									.pdInfo 
										h3 蜂蜜檸檬 
										img.line(src="images/pdLine.png")
										p.txt 葡萄果香豐富十足，濃郁迷人，適合舒緩情緒，飲用清爽暢快，深受年輕人歡迎的葡萄蘇打口味。
										.etc 
											.capacity 
												span 容量：
												|350ml
											.price 
												span 建議售價：
												b 47 
												|元
										.path 
											span 銷售通路： 
											p 7-ELEVEn、全家、萊爾富、家樂福、大潤發、愛買、全聯、頂好、Jasons、楓康、City’super、寶雅、日藥本鋪
										a.link(href="#") 營養成分標示
						.swiper-button-next
							img(src="images/sliderRight.png", alt="next", width="100%")
						.swiper-button-prev
							img(src="images/sliderLeft.png", alt="prev", width="100%")
		script.
			$(function(){
				$('.pd').click(function(){
					$('.pop').fadeIn(300);
					var pd = new Swiper('.pop .swiper-container', {
						navigation: {
							nextEl: '.pop .swiper-button-next',
							prevEl: '.pop .swiper-button-prev',
						}
					});
					if($(this).hasClass('pd2')){
						pd.slideTo(1);
					}
					if($(this).hasClass('pd3')){
						pd.slideTo(2);
					}
					if($(this).hasClass('pd4')){
						pd.slideTo(3);
					}
					if($(this).hasClass('pd5')){
						pd.slideTo(4);
					}
					if($(this).hasClass('pd6')){
						pd.slideTo(5);
					}
				});
				$('.close').click(function(){
					$('.pop').fadeOut(300);
				});
			});